body{
  width: 100%;
  height: 100vh;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 10%;
}

.ciel{
  width: 100%;
  height: 70%;
  background-color: #1e3799;
}

.ville{
  width: 100%;
  height: 10%;
  background-color: #48dbfb;
}

  .ville .row {
    margin: 0;
  }

  .ville-css, .ville-js{
    padding: 10px;
  }

  .ville-css .ville-css-div, .ville-js .ville-js-div{
    background-color: blue;
    height: 10px;
  }

.mer{
  width: 100%;
  height: 20%;
  background-color: #0abde3;
}
