.tile-row {
  padding: 0px;
  margin: 0px;
  height: 32px;
  top: -1px;
  position: relative;
}

.tile {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url('../image/poke-back.png');
  zoom: 2;
}


/* tile background */
.tile-herbe {
  background-position: 2224px 2080px;
}

.tile-eau {
  background-position: 1600px 1984px;
}
