body, html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  width: 100%;
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  background:
    radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
    linear-gradient(108deg, #26D0CE, #1A2980 90%);
  display: table;
}


.sidebar{
  position: absolute;
  height: 100vh;
  width: 300px;
  overflow: auto;
  box-shadow: 5px 0px 60px #000;
}

.content{
  height: 100vh;
  width: calc(100% - 300px);
  left: 300px;
  position: relative;
  overflow: auto;
}

#playlist{
  position: relative;
  background-color: #141b17;
  width: 100% !important;
  line-height: 76px;
  text-align: center;
  overflow : auto;
  position: absolute;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

#playlist img{
  display: inline-block;
  border: 2px solid #141b17;
  padding: 0;
  margin: 0;
  height: 74px;
  width: 124px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.search{
  margin: 0.5em 0;
  font-size: 1.25em;
  color: #FFF;
  text-shadow: 0 0 0.5em #000;
  display: inline;
  top: -13px;
  position: relative;
}


.search-tab{
  text-align: center;
  padding-top: 10px;
}

.search-wrapper{
  display: inline-block;
  width: 220px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

input {
  width: 148px;
  height: 40px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #EEE;
  border-radius: 3px 0 0 3px;
  margin: 10px;
}

input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}


button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 72px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: white;
  text-transform: uppercase;
  background: #D83C3C;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

button:hover{
    background: #e54040;
}

button:active,
button:focus{
    background: #c42f2f;
    outline: 0;
}

button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

button:hover:before{
    border-right-color: #e54040;
}

button:focus:before,
button:active:before{
    border-right-color: #c42f2f;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.video{
  padding-top: 56%;
  position: relative;
}

#channelImage, #channelBanner{
  width: 100%;
}

.channelHeader{
  border-bottom: solid white 1px;
  margin: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#channelTitle{
  font-size: 2em;
  color: #FFF;
  text-shadow: 0 0 0.5em #000;
  text-align: center;
}

#channelDescription{
  font-size: 1em;
  color: #FFF;
  text-shadow: 0 0 0.5em #000;
  text-align: justify;
  border-bottom: solid white 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#subscribers{
  font-size: 3.8em;
  color: #FFF;
  text-shadow: 0 0 0.5em #000;
  text-align: center;
}

#abonne{
  font-size: 1.5em;
  color: #FFF;
  text-shadow: 0 0 0.5em #000;
  text-align: center;
}
